.orders {
  .orders-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
}

.order-create {
  .bootstrap-datetimepicker-widget .picker-switch a {
    color: white;
  }
}
